/* Animation sind generiert via Animsta */


/* Slide In von Links */
.slide-in-left {
  -webkit-animation: slide-in-left 0.6s ease-in-out both;
  animation: slide-in-left 0.6s ease-in-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(100px);
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(100px);
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide In Unten */
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.6s ease-in-out both;
  animation: slide-in-bottom 0.6s ease-in-out both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide In Von rechts */
.slide-in-right {
  -webkit-animation: slide-in-right 0.6s ease-in-out both;
  animation: slide-in-right 0.6s ease-in-out both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade In Oben */
.fade-in-up {
  -webkit-animation: fade-in-up 0.6s ease-in-out both;
  animation: fade-in-up 0.6s ease-in-out both;
}

@-webkit-keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}



/* Fade In Oben */
.fade-in {
  -webkit-animation: fade-in 0.6s ease-in-out both;
  animation: fade-in 0.6s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
