$card-radius: 9px;
$text-field-radius: 14px;
$background-card-radius: 30px;
$scrollbar-radius: 10px;

$dashboard-navigation-opacity: 0.05;
$dashboard-content-color: #a1b0c0;
$blank-opacity: 0.35;

$dark-color: #272a37;
$dark-lighter-color: #323644;
$dark-lighter-2-color: #474b60;
$dark-list-bg: #2c303b;

$dark-disabled-color: #1e202a;

$dark-navi-bottom-bg: #363949;

$text-dark: #f3f3f3;